doctype html
html(lang='id', dir='ltr')
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
	body
		block content